* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;

  --base-color: 130;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--bsae-color), 100%, 63%);

  --text-color: #323238;

  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--text-color);

  font-weight: 500;
  font-size: 12.6rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e5e5e5;
}

main {
  background-color: var(--bg-color);
  align-self: center;
  justify-self: center;
  display: flex;
  border-radius: 3rem;
  padding: 5rem;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 50%);
  margin-top: -2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#clock {
  margin: auto;
  margin-right: 19.2rem;
}

#timer {
  display: flex;
  align-self: center;
  justify-self: center;
  padding-bottom: 4.8rem;
}

.hide {
  display: none;
}

.pause svg path {
  fill: #323238;
}

.card {
  background-color: #cbcbd2;
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
  gap: 3.2rem;
}

.controls {
  display: flex;
}

.selected,
.selected svg path {
  background-color: #02799d;
  fill: white;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.rightPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

header {
  align-self: end;
  justify-self: end;
  padding: 0 6.4rem 3.2rem 0;
  margin-top: -4rem;
}

.slider {
  margin-top: 2.7rem;
  -webkit-appearance: none;
  background: #323238;
  width: 9rem;
  height: 0.4rem;
  border-radius: 1.9rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #323238;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.selected .slider {
  margin-top: 2.7rem;
  -webkit-appearance: none;
  background: #fff;
  width: 9rem;
  height: 0.4rem;
  border-radius: 1.9rem;
}

.selected .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

/* //////////////// DARK MODE ////// */

body.dark {
  background-color: #121214;
  color: #fff;
}

body.dark main {
  background-color: #4b4b53;
}

body.dark svg path {
  fill: #c4c4cc;
}

body.dark .card {
  background-color: #29292e;
}

body.dark .selected,
body.dark .selected svg path {
  background-color: #0a3442;
  fill: white;
}

body.dark .slider {
  margin-top: 2.7rem;
  -webkit-appearance: none;
  background: #fff;
  width: 9rem;
  height: 0.4rem;
  border-radius: 1.9rem;
}

body.dark .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
